.body {
  margin: auto 18px;
}

.img {
  width: 958px;
  height: 500px;
}
.text {
  font-size: 24px;
  margin: 32px 0px;
}

.p {
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: 300;
}

.button {
  width: 370px;
  height: 36px;
  margin-top: 20px;
}

.input {
  width: 370px;
  height: 39px;
  border-radius: 5px;
  border: 1px solid #eee;
}

.h2 {
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}
